<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(189, 146, 235);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(189, 146, 235, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Arek_title.svg %}" alt="Arek">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Armenian</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Arek_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Arek_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Arek</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Arek is Rosetta’s award-winning type family covering Latin and
        Armenian. The design draws on extensive research in traditional
        manuscripts, exploring and emphasising the distinctive, calligraphic
        roots of Armenian. The highly original cursive style breaks new
        ground in Armenian typography for the digital age, offering an
        original secondary style for distinction and widening the existing
        sylistic repertoire. Details such as serifs and terminal styles are
        shared between Latin and Armenian.
        </p>
        <p>        
        The visual harmony is enhanced by common vertical proportions, and
        the modest x-height in the Latin is sensitively engineered alongside
        the Armenian. Originally designed for school books, Arek equips the
        typographer with ten styles covering a wide range for editorial and
        other challenging typesetting environments. The family also provides
        expert features such as ligatures, lining and ranging figures, and
        contextual alternates.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">First prize for Armenian at Granshan 2010</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Awardee of ATypI Letter.2 2011</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Typographica’s Best of 2013</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Arek_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Arek_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Arek_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">armenian</div>
            {% language_button_for Armenian %}
          </div>
          <div class="content">
            <img src="{% image_path Arek_styles_Armenian.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "active": true, "author": "Mark Jamra", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “It’s vivacious and playful in large sizes, and also full-proportioned, open, and effortlessly readable in text sizes, adding an undercurrent of frenetic energy to the flow of body copy.”
      {% endtestimonial %}

      {% testimonial "i": 2,"author": "Gegham Vardanyan", "company": "Yerevan magazine", "logo": "Testimonial-logo_Yerevan.svg" %}
      “The Armenian typography has old history but it’s still too young compared to Latin computer fonts. There is not enough fonts and we are always looking for something interesting and new. So when I’ve accidentally found Arek it was a good luck for us.”
      {% endtestimonial %}

      {% testimonial "i": 3,"author": "Hrant H Papazian", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “… it melodiously announces that a multi-script typeface need have neither a servile non-Latin component, nor a Latin that’s either swiped or a generic afterthought.”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator active" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial3"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Hihlights & OpenType Features -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Arek_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Shared proportions between Latin and Armenian
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Arek_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Strong calligraphic presence, distinct serifs and terminals
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Arek_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            First type system to incorporate an Armenian cursive
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Arek_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Contextual alternate characters improve word shapes
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Arek_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Discretionary ligatures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Lining figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Fractions</div>
            </div>
            <div class="col">
              <div class="text">Superiors &amp; inferiors</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_7.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Stylistic alternate</div>
            </div>
            <div class="col">
              <div class="text">Arrows</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_9.svg %}" alt="" class="svg">
          <div class="text">Ligatures (always on)</div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Arek_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_6.svg %}" alt="" class="svg">
          <div class="text">All caps &amp; case-sensitive punctuation</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_8.svg %}" alt="" class="svg">
          <div class="text">Bullets &amp; dingbats</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Arek_features_10.svg %}" alt="" class="svg">
          <div class="text">Contextual alternates</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Arek!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/7473587/Arek %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}


<!-- Fonts In Use -->

{% fonts_in_use %}
  Multiple-Memories
  Sketches-on-of-type
  The-diaspora-of-Armenian-printing
  Yerevan-magazine
{% endfonts_in_use%}

