<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(5, 161, 116);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(5, 161, 116, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Skolar_title.svg %}" alt="Skolar">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Cyrillic</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab3">
              <div class="innerText">Greek</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab4">
              <div class="innerText">Devanagari</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab5">
              <div class="innerText">Gujarati</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Skolar_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Skolar_previews_3.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab3">
            <div class="imgWrapper">
              <img src="{% image_path Skolar_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab4">
            <div class="imgWrapper">
              <img src="{% image_path Skolar_previews_4.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab5">
            <div class="imgWrapper">
              <img src="{% image_path Skolar_previews_5.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Skolar</h2>
      </div>
      <div class="description" itemprop="description">
          <p>
          Skolar is a robust text typeface designed to address the needs of serious typography. It has been used extensively across diverse platforms and purposes. Skolar’s letterforms follow conventional proportions allowing for comfortable reading. It maintains credibility while while incorporating a subtle personal style.
          </p>
          <p>
          Features such as its relatively large x-height, robust serifs, and low contrast make Skolar a reliable choice even at small sizes and for the most complex editorial and academic text settings. Skolar’s vast character set caters for over two hundred languages and various transliterations (Pinyin, Sanskrit) using Latin, Cyrillic, Greek (incl. polytonic), Devanagari, and Gujarati scripts.
          </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Second prize in European Design Awards 2008</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">I love typography’s best of 2008</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Special Diplom in Modern Cyrillic 2009</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">First prize for Cyrillic at Granshan 2009</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">First prize for Devanagari at Granshan 2012</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Second prize for Gujarati at Granshan 2013</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Skolar_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Skolar_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin italic</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_LatinItalic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_Cyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">cyrillic italic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_CyrillicItalic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">greek</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_Greek.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">greek italic</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_GreekItalic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">devanagari</div>
            {% language_button_for Devanagari %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_Devanagari.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">gujarati</div>
            {% language_button_for Gujarati %}
          </div>
          <div class="content">
            <img src="{% image_path Skolar_styles_Gujarati.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "author": "Mick Moore", "company": "British Journal of Photography", "logo": "Testimonial-logo_Gentleman.svg" %}
        “When we decided to replace our sans serif body copy, News Gothic, with a more classic serif face we decided on Skolar quite early on in the redesign process. The editor’s brief was ‘classic with a twist’ and we felt Skolar more than provided this.”
      {% endtestimonial %}

      {% testimonial "i": 2, "active": true, "author": "Elliot Jay Stocks", "company": "8Faces", "logo": "Testimonial-logo_8Faces.svg" %}
        “Skolar accomplishes the goal sought after by virtually every text face: to make its mark with a distinct personality and yet remain effortlessly readable by letting that personality slip secretly and silently into the background.”
      {% endtestimonial %}

      {% testimonial "i": 3, "author": "Jason Santa Maria", "logo": "Testimonial-logo_Gentleman.svg" %}
        “It feels formal, without being stuffy, and has a bit of quirk to it, like someone wearing a suit with rainbow striped socks. The italic is especially lovely.”
      {% endtestimonial %}

      {% testimonial "i": 4, "author": "Vitaly Friedman", "company": "Smashing Magazine", "logo": "Testimonial-logo_Smashing-magazine.svg" %}
        “Skolar shows that a typeface can be both subtle and engaging, academic and practical, easy on the eyes and sophisticated—and both we and our readers learned to appreciate these qualities over the years.”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial3"></div>
        <div class="pagerIndcator active" data-testimonialid="testimonial4"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Skolar_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Low contrast helps better reproduction in small sizes
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Skolar_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Great care was given to Central and East European accents
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Skolar_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Polytonic Greek and automated mark placement
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Skolar_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Adaptive matras and many conjuncts for Indic scripts
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Skolar_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Discretionary ligatures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Arbitrary fractions</div>
            </div>
            <div class="col">
              <div class="text">Superiors &amp; inferiors</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_7.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Alternates</div>
            </div>
            <div class="col">
              <div class="text">More alternates</div>
            </div>
          </div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Skolar_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Azeri/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Small-cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_6.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
            <div class="col">
              <div class="text">Case-sensitive punctuation</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_8.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Even more alternates</div>
            </div>
            <div class="col">
              <div class="text">Automatic mark placement</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="moreSection">
      <a href="#hiddenOpentypeFeatures" class="button js-showMoreLink" data-showmoreselector="#hiddenOpentypeFeatures">
      <i class="ico doubleArrowDown"></i>
      Show more</a>
    </div>
    <div class="otfCols" style="display: none;" id="hiddenOpentypeFeatures">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Skolar_features_9.svg %}" alt="" class="svg">
          <div class="text">Combinable arrows</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_11.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Cyrillic small caps</div>
            </div>
            <div class="col">
              <div class="text">Serbian forms</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_13.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Greek small caps</div>
            </div>
            <div class="col">
              <div class="text">Iota with dialityka alternate</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_15.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Devanagari conjuncts</div>
            </div>
            <div class="col">
              <div class="text">Marathi and Nepali forms</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_17.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular Devanagari figures</div>
            </div>
            <div class="col">
              <div class="text">Alternative Devanagari figures</div>
            </div>
          </div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Skolar_features_10.svg %}" alt="" class="svg">
          <div class="text">More combinable arrows (there are many more)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_12.svg %}" alt="" class="svg">
          <div class="text">Bulgarian forms</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_14.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Prosgegrammeni alternates</div>
            </div>
            <div class="col">
              <div class="text">Greek small caps w. diacritics</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_16.svg %}" alt="" class="svg">
          <div class="text">Devanagari conjunct alternates</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Skolar_features_18.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Gujarati conjuncts</div>
            </div>
            <div class="col">
              <div class="text">Tabular Gujarati figures</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Skolar!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/2738469/Skolar %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}

{% fonts_in_use %}
  Vangard
  Smashing-magazine
  Widziec-Wiedziec
  8-Faces-poster
  Sri-Bhagavat-Sandarbha
  Non-Latin-Scripts-book
  CAS-linguistic-edition
  Quipsologies
{% endfonts_in_use%}

