<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(40, 215, 148);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(40, 215, 148, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path SkolarSans_title.svg %}" alt="Skolar Sans">
    </a>
  </div>
</div>

<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Cyrillic</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab3">
              <div class="innerText">Greek</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab4">
              <div class="innerText">Arabic</div>
            </div>
            <!--<div class="tabControl" data-tabcontentselector=".js-tab5">
              <div class="innerText">Compare</div>
            </div>-->
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path SkolarSans_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path SkolarSans_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab3">
            <div class="imgWrapper">
              <img src="{% image_path SkolarSans_previews_3.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab4">
            <div class="imgWrapper">
              <img src="{% image_path SkolarSans_previews_4.svg %}" alt="" class="svg">
            </div>
          </div>
          <!--<div class="tabContent js-tab5">
            <div class="imgWrapper">
              <img src="{% image_path SkolarSans_previews_5.svg %}" alt="" class="svg">
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Skolar Sans</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Every Sherlock needs his Watson. A versatile partner who can accommodate for an opinionated compadre, but does more than just follow his footsteps. Equally peculiar but nonetheless a gentleman. A real friend for true companionship, a problem-solving duo that’s at your service. Skolar Sans is an extensive typeface family for the age of responsive design. From gently thin to extra bold, the four subtly graded width variants will fit all your content needs. The 72 fonts come in uprights and true italics with ligatures, arrows, and fleurons. Magnifying glass sold separately. Read more about the development of <a href="https://www.rosettatype.com/blog/2014/11/26/On-Skolar-Sans">Latin</a> and  <a href="https://www.rosettatype.com/blog/2016/02/02/Skolar-Sans-Pan-European">Pan-European</a> versions. The PE version is now used by Radio Free Europe to serve news to over 200 countries and territories.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Typographica’s Best of 2014</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Silver from European Design Awards 2015</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Special mention for Greek at Granshan 2015</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path SkolarSans_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path SkolarSans_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>

<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Compressed Latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CompressedLatin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Condensed Latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CondensedLatin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Normal Latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_NormalLatin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Extended Latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_ExtendedLatin.svg %}" alt="" class="svg">
          </div>
        </div>

        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Compressed Cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CompressedCyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Condensed Cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CondensedCyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Normal Cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_NormalCyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Extended Cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_ExtendedCyrillic.svg %}" alt="" class="svg">
          </div>
        </div>

        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Compressed Greek</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CompressedGreek.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Condensed Greek</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_CondensedGreek.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Normal Greek</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_NormalGreek.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Extended Greek</div>
            {% language_button_for Greek %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_ExtendedGreek.svg %}" alt="" class="svg">
          </div>
        </div>

        <div class="fontStyleItem">
          <div class="header">
            <div class="title">Arabic</div>
            {% language_button_for Arabic %}
          </div>
          <div class="content">
            <img src="{% image_path SkolarSans_styles_Arabic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "active": true, "author": "Aegir Hallmundur", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “Skolar Sans is the hugely impressive — and huge, at seventy-two fonts — new companion to Rosetta’s Skolar.”
      {% endtestimonial %}

      {% testimonial "i": 2, "author": "Aegir Hallmundur", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “It’s also an object lesson in how to design a companion to a serif. Rather than any kind of straightforward chop-the-serifs conversion, the characteristic strokes of Skolar are reinterpreted and translated to the lower-contrast world of sans serifs.”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator active" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path SkolarSans_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Skolar’s proportions &amp; exemplary accents
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path SkolarSans_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Design universe that spans 72 styles
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path SkolarSans_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Pan-European language support in all 72 styles
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path SkolarSans_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Language support for Arabic, Persian &amp; Urdu
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Small caps</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Azeri/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_7.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Arbitrary fractions</div>
            </div>
            <div class="col">
              <div class="text">Superiors & inferiors</div>
            </div>
          </div>
        </div>  
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_9.svg %}" alt="" class="svg">
          <div class="text">Combinable arrows</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_11.svg %}" alt="" class="svg">
          <div class="text">Serbian/Macedonian forms (language feature or stylistic set 7)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_13.svg %}" alt="" class="svg">
          <div class="text">Isosceles forms of Cyrillic De and El (stylistic set 9)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_15.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Greek small caps</div>
            </div>
            <div class="col">
              <div class="text">Iota with dialityka alternate</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_17.svg %}" alt="" class="svg">
          <div class="text">Mark positioning</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_19.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Contextual alternates</div>
            </div>
            <div class="col">
              <div class="text">Urdu contextual alt.</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_21.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Persian figures</div>
            </div>
            <div class="col">
              <div class="text">Urdu figures</div>
            </div>
          </div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Catalan</div>
            </div>
            <div class="col">
              <div class="text">Dutch</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Stylistic alternates</div>
            </div>
            <div class="col">
              <div class="text">More alternates</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_6.svg %}" alt="" class="svg">
         <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Small-cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path SkolarSans_features_8.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
            <div class="col">
              <div class="text">Case-sensitive punctuation</div>
            </div>
          </div>
          <div class="otfItem">
            <img src="{% image_path SkolarSans_features_10.svg %}" alt="" class="svg">
            <div class="text">More combinable arrows (there are many more)</div>
          </div>
           <div class="otfItem">
            <img src="{% image_path SkolarSans_features_12.svg %}" alt="" class="svg">
            <div class="text">Bulgarian forms (language feature or stylistic set 8)
</div>
          </div>
           <div class="otfItem">
            <img src="{% image_path SkolarSans_features_14.svg %}" alt="" class="svg">
            <div class="text">Cyrillic small caps</div>
          </div>
          <div class="otfItem">
          <img src="{% image_path SkolarSans_features_16.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Prosgegrammeni alternates</div>
            </div>
            <div class="col">
              <div class="text">Greek small caps w. diacritics</div>
            </div>
          </div>
          </div>
          <div class="otfItem">
            <img src="{% image_path SkolarSans_features_18.svg %}" alt="" class="svg">
            <div class="text">Correct Hijra date (Arabic-only)</div>
          </div>
          <div class="otfItem">
          <img src="{% image_path SkolarSans_features_20.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Discretionary ligatures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Skolar Sans!</h2>
        <div class="socialMediaLinks">
          {% share_buttons http://on.be.net/1ObD2S0 %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}

