<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(255, 155, 122);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(255, 155, 122, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Aisha_title.svg %}" alt="Aisha">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Arabic</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Aisha_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Aisha_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About aisha</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Aisha originated from research about the Maghribi script – its
        regular Arabic weight is based on the foundry type Titus discovered
        in a 19th century book. In the process of design Titus reinterpreted
        the sources within the framework provided by current usage and
        technology. He developed a Latin face to accompany the Arabic,
        drawing both as independently usable, yet closely related typefaces.
        </p>
        <p>
        The Latin version of Aisha is one of the designs where the style of
        the Arabic version shaped the direction for the Roman letters, rather
        than the other way around. Drawing on research around Maghribi
        calligraphy, and inspired by expressive Moroccan lettering, the
        resulting designs feature generous curves and joyful variations,
        rendering Aisha a historically informed typeface for contemporary
        requirements, with a wide range of weights in both Arabic and Latin.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Certificate of Excellence in Type Design, TDC2 2010</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Nominated for the German Design Award 2011</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Creative Review Type Annual 2011</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Aisha_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Aisha_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Aisha_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">arabic</div>
            {% language_button_for Arabic %}
          </div>
          <div class="content">
            <img src="{% image_path Aisha_styles_Arabic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
    	<div class="testimonialItems">

	      {% testimonial "i": 1, "author": "A. Giménez Reíllo", "logo": "Testimonial-logo_Gentleman.svg" %}
	      “Y no hace falta ser un entendido en tipografía árabe, creo, para concluir que Aisha es de lo mejorcito en un género, el de las fundiciones árabes de estilo magrebí, …”
	      {% endtestimonial %}

	      {% testimonial "i": 2, "author": "David Lemon", "company": "Adobe Type", "logo": "Testimonial-logo_Adobe.svg" %}
	      “Congrats on the reworked Aisha. Ranging figures seems – in hindsight – like a no-brainer for Arabic; great touch!”
	      {% endtestimonial %}

	      {% testimonial "i": 3, "active": true, "author": "Jan Middendorp", "for": "for 8 Faces magazine", "logo": "Testimonial-logo_8Faces.svg"  %}
	      “Nemeth describes the model for Aisha as ‘curious and very playful’ — which is exactly what makes Aisha so attractive. The loopy, brush-like quality of the Arabic makes a smooth transition into the Latin version; both scripts exude a lively playfulness.”
	      {% endtestimonial %}

		</div>
      <div class="testimonialPager">
        <div class="pagerIndcator" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
        <div class="pagerIndcator active" data-testimonialid="testimonial3"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Aisha_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            The handwritten style, an inviting and informal appearance
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Aisha_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Rich arsenal of forms inspired by Maghribi manuscripts
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Aisha_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Many alternates and swashes to spice up your texts
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Aisha_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Pioneering ranging figures for Arabic and Persian
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Aisha_features_1.svg %}" alt="" class="svg">
          <div class="text">Stylistic alternates (stylistic set 1–6)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Catalan</div>
            </div>
            <div class="col">
              <div class="text">Dutch</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Lining figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_7.svg %}" alt="" class="svg">
          <div class="text">Ligatures</div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Aisha_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Turkish/Crimean Tatar</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Fractions</div>
            </div>
            <div class="col">
              <div class="text">Superiors &amp; inferiors</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_6.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_8.svg %}" alt="" class="svg">
          <div class="text">Discretionary ligatures</div>
        </div>
      </div>
    </div>
    <div class="moreSection">
      <a href="#hiddenOpentypeFeatures" class="button js-showMoreLink" data-showmoreselector="#hiddenOpentypeFeatures">
      <i class="ico doubleArrowDown"></i>
      Show more</a>
    </div>
    <div class="otfCols" style="display: none;" id="hiddenOpentypeFeatures">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Aisha_features_9.svg %}" alt="" class="svg">
          <div class="text">Stylistic alternates (stylistic set 1–7)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_11.svg %}" alt="" class="svg">
          <div class="text">Mark positioning</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_13.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Aisha_features_10.svg %}" alt="" class="svg">
          <div class="text">And more stylistic alternates (stylistic set 1–7)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_12.svg %}" alt="" class="svg">
          <div class="text">Correct Hijra date (Arabic-only)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Aisha_features_14.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Aisha!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/2598479/Aisha %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}

