<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(179, 157, 127);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(179, 157, 127, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Neacademia_title.svg %}" alt="Neacademia">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Cyrillic</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab3">
              <div class="innerText">Compare</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Neacademia_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Neacademia_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab3">
            <div class="imgWrapper">
              <img src="{% image_path Neacademia_previews_3.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Neacademia</h2>
      </div>
      <div class="description" itemprop="description">
          <p>
          Neacademia is a Latin and Cyrillic type family inspired by the types
          cut by 15th century Italian punchcutter Francesco Griffo for the
          famous Venetian printer and publisher Aldus Manutius. The family
          comprises different versions optimised for specific point sizes, as
          was traditional in metal type. While the display sizes maintain a
          visual link to calligraphic roots, text sizes exhibit more
          typographic qualities, following the hand of the carver, not the
          calligrapher.
          </p>
          <p>
          Neacademia was designed with specific allowances for letterpress
          photopolymer printing. Printed digitally, it can tolerate – and even
          benefit from – low resolution, rough paper, and low-grade presswork.
          It also adopts a more traditional approach to kerning and
          caps-spacing – instead of a multitude of kerning pairs, it makes use
          of alternative letterforms. In many ways, it feels like
          using metal type again!
          </p>
          <p>
          Read more about the development of Neacademia <a href="https://www.rosettatype.com/blog/2016/09/20/The-development-of_Neacademia">here.</a>
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Modern Cyrillic 2009</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Typographica’s Best of 2012</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Neacademia_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Neacademia_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Neacademia_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin italic</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Neacademia_styles_LatinItalic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path Neacademia_styles_Cyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">cyrillic italic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path Neacademia_styles_CyrillicItalic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "author": "Florian Hardwig", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “Do we need yet another Aldine revival? If it is as spirited and well-executed as this one – oh yes, please!”
      {% endtestimonial %}

      {% testimonial "i": 2, "active": true, "author": "Florian Hardwig", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “If you still ask yourself whether this might be a good addition to your library, typeset the question in Neacademia – you will love that question mark!”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator active" data-testimonialid="testimonial2"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Neacademia_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Excellent book face, smaller x-height, elegant extenders
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Neacademia_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Alternates improve spacing and reading experience
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Neacademia_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Optical variants carefully optimized for specific sizes
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Neacademia_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Working small caps in both Latin and Cyrillic
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Discretionary ligatures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_3.svg %}" alt="" class="svg">
          <div class="text">Contextual alternates (many!)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_5.svg %}" alt="" class="svg">
          <div class="text">Small caps (regular only)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_7.svg %}" alt="" class="svg">
          <div class="text">All caps &amp; case-sensitive punctuation</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_9.svg %}" alt="" class="svg">
          <div class="text">Serbian/Macedonian forms (language feature or stylistic set 7)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_11.svg %}" alt="" class="svg">
          <div class="text">Contextual alternates (also many!)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_13.svg %}" alt="" class="svg">
          <div class="text">Ornaments</div>
        </div>      
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Azeri/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_4.svg %}" alt="" class="svg">
          <div class="text">Historical swashes (stylistic set 2, italic only)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_6.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Lining tabular figures</div>
            </div>
            <div class="col">
              <div class="text">Small-cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_8.svg %}" alt="" class="svg">
          <div class="text">Old-style hyphen (stylistic set 3)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_10.svg %}" alt="" class="svg">
          <div class="text">Alternative form of italic ef (stylistic set 1, italic only)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Neacademia_features_12.svg %}" alt="" class="svg">
          <div class="text">Cyrillic small caps (regular only)</div>
        </div>
      </div>
    </div>
<!--
    <div class="moreSection">
      <a href="#hiddenOpentypeFeatures" class="button js-showMoreLink" data-showmoreselector="#hiddenOpentypeFeatures">
      <i class="ico doubleArrowDown"></i>
      Show more</a>
    </div>
    <div class="otfCols" style="display: none;" id="hiddenOpentypeFeatures">
      </div>
      <div class="halfCol">
      </div>
    </div>-->
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Neacademia!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/2737683/Neacademia %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}


<!-- Fonts In Use -->

{% fonts_in_use %}
  Jeg-Har-Ventet-Pa-Deg
  Parenthesis
  Some-One-Some-Where
  Hypnerotomachia-Poliphili
{% endfonts_in_use%}
