<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(255, 76, 108);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(255, 76, 108, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Nassim_title.svg %}" alt="Nassim">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Arabic</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab3">
              <div class="innerText">Beyond Arabic</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Nassim_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Nassim_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab3">
            <div class="imgWrapper">
              <img src="{% image_path Nassim_previews_3.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Nassim</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Nassim is a contemporary typeface for multilingual text-setting. Its lively texture pays tribute to calligraphic heritage. The well balanced rhythm and a vast array of features allow for a wide range of applications, from news, to literature, to scientific publications. Read by millions of people around the globe every day, it does what it does best, delivering content with an authentic voice.
        </p>
        <p>
        Bridging two contrasting typographic traditions, Arabic and Latin, Nassim achieves balance and harmony without compromising either one. When it was first released, it was an exceptional rendering of Arabic in OpenType – ahead of the curve. The new Pro version challenges existing conventions and defies the limitations of digital Arabic once again.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Certificate of Excellence in Type Design, TDC2 2007</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">First prize from European Design Awards 2007</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Shortlisted for ‘Design of the Year’, Design Museum</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Awardee of ATypI Letter.2 2011</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Typographica’s Best of 2012</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Nassim_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Nassim_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Nassim_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">arabic</div>
            {% language_button_for Arabic %}
          </div>
          <div class="content">
            <img src="{% image_path Nassim_styles_Arabic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "author": "Kutlu Çanlıoğlu", "company": "BBC Future Media", "logo": "Testimonial-logo_BBC.png", "width": 133, "height": 82 %}
      “The many prestigious design awards that Nassim has received are testaments to its fresh and contemporary design, and with its range of weights enabled us to achieve the typographic hierarchy we required.”
      {% endtestimonial %}

      {% testimonial "i": 2, "author": "Mario Garcia", "company": "Garcia Media", "logo": "Testimonial-logo_Gentleman.svg" %}
      “Nassim was designed to work in small sizes, in a dictionary, say, or newspaper columns—a rare achievement. With five weights and perfectly matched Latin letters, it’s almost
      too good to be true.”
      {% endtestimonial %}

      {% testimonial "i": 3, "active": true, "author": "Bruce Bahmani", "company": "Voice of America", "logo": "Testimonial-logo_VoiceOfAmerica.svg" %}
      “You have no idea what you have done for the improvement of the Arabic/Persian web experience.”
      {% endtestimonial %}

      {% testimonial "i": 4, "author": "Bruce Bahmani", "company": "Voice of America", "logo": "Testimonial-logo_VoiceOfAmerica.svg" %}
      “… the results demonstrated a 5x increase in reading speed. … The new Persian VOA site was extremely well received and many users commented on how much better the site looks and how much more readable the text appears; …”
      {% endtestimonial %}

      {% testimonial "i": 5, "author": "Thierry Blancpain (Grilli Type)", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “Nassim reads The Economist, not the Daily News; it has an opinion and sticks to it.”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
        <div class="pagerIndcator active" data-testimonialid="testimonial3"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial4"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial5"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Nassim_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Large x-height, open counters and compact proportions.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Nassim_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Swashes for better justification, alternates for stylistic variety.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Nassim_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Arabic ranging figures with localised shapes for Persian and Urdu.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Nassim_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Improved legibility through raised teeth alternates.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Nassim_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Discretionary ligatures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Azeri/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Lining figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_7.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Superiors & inferiors</div>
            </div>
            <div class="col">
              <div class="text">Arbitrary fractions</div>
            </div>
          </div>
        </div>  
        <div class="otfItem">
          <img src="{% image_path Nassim_features_9.svg %}" alt="" class="svg">
          <div class="text">Mark positioning</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_11.svg %}" alt="" class="svg">
          <div class="text">Swash alternates</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_13.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Contextual alternates</div>
            </div>
            <div class="col">
              <div class="text">Urdu contextual alt.</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_15.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Alternate Mim (ss03)</div>
            </div>
            <div class="col">
              <div class="text">Ranging figures</div>
            </div>
          </div>
        </div>
          <div class="otfItem">
          <img src="{% image_path Nassim_features_17.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Persian figures</div>
            </div>
            <div class="col">
              <div class="text">Urdu figures</div>
            </div>
          </div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Nassim_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Small caps</div>
            </div>
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Catalan</div>
            </div>
            <div class="col">
              <div class="text">Dutch</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_6.svg %}" alt="" class="svg">
         <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Small-cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
            <img src="{% image_path Nassim_features_8.svg %}" alt="" class="svg">
            <div class="text">All caps & case-sensitive punctuation</div>
        </div>
        <div class="otfItem">
            <img src="{% image_path Nassim_features_10.svg %}" alt="" class="svg">
            <div class="text">Correct Hijra date (Arabic-only)</div>
        </div>
        <div class="otfItem">
            <img src="{% image_path Nassim_features_12.svg %}" alt="" class="svg">
            <div class="text">Discretionary ligatures</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_14.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Alternate Yeh (ss01)</div>
            </div>
            <div class="col">
              <div class="text">Alternate Kaf (ss02)</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Nassim_features_16.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
          </div>
        </div>
          <div class="otfItem">
            <img src="{% image_path Nassim_features_18.svg %}" alt="" class="svg">
            <div class="text">Arabic, Persian and Urdu superiors & inferiors</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Nassim!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/2737569/Nassim %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}


<!-- Fonts In Use -->

{% fonts_in_use %}
  Mauritania
  BBC-news-portal
  Mahdavi-catalogue
  Murty-Classical-Library
{% endfonts_in_use%}

