<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(239, 51, 69);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(239, 51, 69, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Sutturah_title.svg %}" alt="Sutturah">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">Cyrillic</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Sutturah_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Sutturah_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Sutturah</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Sutturah is a display font intended for posters and display
        environments demanding high visual impact. Originating from an
        exploration of new, radical text patterns, the font combines highly
        detailed and constructed shapes with a script-flavouring. The design
        brings together varied influences – from gothic Fraktur to the
        ultrablack display, and high-contrast wood types. Sutturah is
        informal and irreverent in its visual style.
        </p>
        <p>
        Its strong character goes beyond the accepted conventions of
        letter-shape construction, quickly catching the eye and surprising
        the reader. Its personality allows for the creation of stunning
        pieces of design without the need of any other elements – a single
        word in Sutturah can be worth a thousand images! Extra ligatures and
        swashes provide the designer even more possibilities to experiment
        with and add to the fun of using the typeface.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Typographica’s Best of 2012</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Certificate of Excellence in Type Design, TDC 2012</div>
              </div>
            </div>
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Communication Arts Typographic Annual 2013</div>
              </div>
            </div>
            <!-- <div class="awardsCol">
              <div class="awardItem singleRow">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Second prize for Display, Granshan 2012</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Sutturah_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Sutturah_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Sutturah_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">cyrillic</div>
            {% language_button_for Cyrillic %}
          </div>
          <div class="content">
            <img src="{% image_path Sutturah_styles_Cyrillic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "active": true, "author": "Nicole Dotin (Process Type Foundry)", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “On the one hand, it’s jovial, overstuffed, and good-natured. On the other, it’s got a taste for fast cars and loose women.”
      {% endtestimonial %}

      {% testimonial "i": 2, "author": "Marian Bantjes", "logo": "Testimonial-logo_Gentlewoman.svg" %}
      “I love this! My highest compliment: envy.”
      {% endtestimonial %}

      {% testimonial "i": 3, "author": "Nicole Dotin (Process Type Foundry)", "for": "for Typographica", "logo": "Testimonial-logo_Typographica_2x.png", "width": 69, "height": 82 %}
      “Let me get the obvious out of the way. Sutturah […] isn’t versatile or a workhorse. It’s not ideal for setting small text or many of the other prized descriptors lavished on typeface designs.“
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
        <div class="pagerIndcator active" data-testimonialid="testimonial3"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Sutturah_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Swashed alternates in&nbsp;Latin and Cyrillic!
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Sutturah_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Alternates allow for better flow
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Sutturah_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            The lovely ligatures are always on
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Sutturah_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Eccentric, but well localized
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_1.svg %}" alt="" class="svg">
          <div class="text">Ligatures (always switched on)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_3.svg %}" alt="" class="svg">
          <div class="text">Contextual alternates (keep it switched on!)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_5.svg %}" alt="" class="svg">
          <div class="text">Ordinals</div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_2.svg %}" alt="" class="svg">
          <div class="text">Stylistic alternates</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_4.svg %}" alt="" class="svg">
          <div class="text">Swashes</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_6.svg %}" alt="" class="svg">
          <div class="text">Basic superiors</div>
        </div>
      </div>
    </div>
    <div class="moreSection">
      <a href="#hiddenOpentypeFeatures" class="button js-showMoreLink" data-showmoreselector="#hiddenOpentypeFeatures">
      <i class="ico doubleArrowDown"></i>
      Show more</a>
    </div>
    <div class="otfCols" style="display: none;" id="hiddenOpentypeFeatures">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_7.svg %}" alt="" class="svg">
          <div class="text">Turkish/Azeri/Crimean Tatar</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_9.svg %}" alt="" class="svg">
          <div class="text">Contextual alternates (keep it switched on!)</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_11.svg %}" alt="" class="svg">
          <div class="text">Swashes</div>
        </div>
      </div>
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_8.svg %}" alt="" class="svg">
          <div class="text">Romanian/Moldovan</div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Sutturah_features_10.svg %}" alt="" class="svg">
          <div class="text">Serbian/Macedonian forms (language feature or stylistic set 7)</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->


<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Sutturah!</h2>
        <div class="socialMediaLinks">
          {% share_buttons https://www.behance.net/gallery/2738559/Sutturah %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}

