<style>

/* global */

.fontFamilyDetailPreview .tabContainer .tabControlsWrapper>.inner .tabControl {
  border-left: 0;
  border-right: 0;
  margin: 0 2px 1px 0;
}

.fontFamilyDetailHeader .inner {
  max-width: 707px;
}

.fontFamilyDetailPreview {
  margin: 0 0 10px;
  max-width: 100%;
}

.fontFamilyDetailPreview .inner {
  max-width: 1000px; /* there is ca 20px padding in the image, so it corresponds to 960px */ /* changes responsively */
}

.fontFamilyDetailPreview .tabContainer .tabContentWrapper .tabContent .imgWrapper {
  padding: 20px 0 10px 0;
}

.fontFamilyDetailAbout.familyBg {
  background: none;
}

.fontFamilyDetailAbout .inner {
  padding: 0 30px 70px;
}

.fontFamilyDetailAbout .awardsWrap {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

.fontFamilyDetailAbout .awardsWrap>.inner {
  padding: 16px 14px;
}

.fontStylesSection {
  border-top: 1px dashed #999;
}

.fontStylesSection, .fontStylesSection .header, .fontStylesSection .title {
  background: #fff;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem {
  border-left: 1px dashed #999;
}

.fontStylesSection .fontStyleItemWrapper .fontStyleItem .header .title {
  font-size: 20px;
  font-weight: bold;
}

.fontStylesSection .fontStylesSectionHeaderBorder {
  border-bottom: 1px dashed #999;
  background: transparent;
}

.testimonialSection {
  background: #212121;
}

.testimonialSection.onFontFamilyDetail {
  margin-top: 0px;
}

.testimonialSection .inner {
  min-height: 500px; /* changes responsively */
  max-width: 960px;
  border: 0;
  background: none;
}

.testimonialSection .testimonialItem>.testimonialItemContent {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonialSection .testimonialPager {
  left: 37px;
}

.fonttesterSection .inner {
  padding-left: 30px;
  padding-right: 30px;
}

.fontStylesOpentypeFeatures .otfItem .text {
  border-top: 1px dashed #999;
}

.fontFamilyAuthorSection .authorPortrait {
  top: 139px;
}

.fontFamilyAuthorSection .authorPortraitInside {
  top: 59px;
}

/* responsive */

@media screen and (min-width: 1320px) {
  .fontFamilyDetailPreview .inner {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1080px) {
  .testimonialSection .inner {
    min-height: 250px;
  }
}

/* local */

.fontFamilyDetailHeader.familyHeaderBg {
  background: rgb(255, 180, 65);
}

.greyBackground {
  overflow: visible;
  border: 1px solid transparent;
}

.greyBackground, .fontStylesHighlights, .fontStylesOpentypeFeatures {
  background: rgba(255, 180, 65, 0.2);
}

</style>


<!-- Header & Preview -->

<div class="fontFamilyDetailHeader familyHeaderBg">
  <div class="inner">
    <a href="#font-family-preview" class="imageContainer js-slideTo">
      <img src="{% image_path Gitan_title.svg %}" alt="Gitan">
    </a>
  </div>
</div>
<div class="greyBackground">
  <div class="fontFamilyDetailPreview">
    <div class="inner">
      <div class="tabContainer linkedWithFontFamilyDetailNavigation" id="font-family-preview">
        <div class="tabControlsWrapper">
          <div class="inner">
            <div class="tabControl active" data-tabcontentselector=".js-tab1">
              <div class="innerText">Latin</div>
            </div>
            <div class="tabControl" data-tabcontentselector=".js-tab2">
              <div class="innerText">More samples</div>
            </div>
          </div>
        </div>
         <div class="tabContentWrapper">
          <div class="tabContent active js-tab1">
            <div class="imgWrapper">
              <img src="{% image_path Gitan_previews_1.svg %}" alt="" class="svg">
            </div>
          </div>
          <div class="tabContent js-tab2">
            <div class="imgWrapper">
              <img src="{% image_path Gitan_previews_2.svg %}" alt="" class="svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- About & Awards & PDF downloads -->

  <div class="fontFamilyDetailAbout familyBg linkedWithFontFamilyDetailNavigation" id="font-family-about">
    <div class="inner">
      <div class="header">
        <h2>About Gitan</h2>
      </div>
      <div class="description" itemprop="description">
        <p>
        Gitan (formerly Sherpa Sans) is a flared sans serif, reminiscent of engraving and stone carving. Sturdy and informal, the design features a moderate contrast. Cuneiform head serifs and deeply cut wedge terminals give Gitan a sculptural appeal – a quality desired for all things display. A rhythmic pattern and the classic construction make it sparkle in text.
        A natural look with a dynamic, that thrives in wooden and rock-solid materials. Gitan’s habitat is at the crossroads of editorial and packaging work, but by nature Gitan is flexible and willing to take risks.
        </p>
      </div>
      <div class="awardsWrap">
        <div class="inner">
          <div class="awardsCols">
            <div class="awardsCol">
              <div class="awardItem">
                <img src="{% image_path award-icon-black.svg %}" alt="" class="awardsIco svgImg" />
                <div class="awardsText">Honourable mention, Pangramme exhibition 2016</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonsWrapper linkedWithFontFamilyDetailNavigation" id="font-family-pdf-specs">
        <a href="{% file_path Gitan_specimen.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download PDF specimen</span></a>
        <a href="{% file_path Gitan_charset.pdf %}" class="red solidButton"><span class="ico page"></span><span class="innerText">Download character set</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Styles -->

<div class="fontStylesSection linkedWithFontFamilyDetailNavigation" id="font-family-styles">
  <div class="inner js-fontStyleItemKinetic">
    <div class="fontStyleItemWrapper">
      <div class="inner">
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Gitan_styles_Latin.svg %}" alt="" class="svg">
          </div>
        </div>
        <div class="fontStyleItem">
          <div class="header">
            <div class="title">latin italic</div>
            {% language_button_for Latin %}
          </div>
          <div class="content">
            <img src="{% image_path Gitan_styles_LatinItalic.svg %}" alt="" class="svg">
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <a href="#prev" class="slideLeftLink" style="display: none;">
        <i class="ico arrowLeft"></i>
        <span class="text">Prev</span>
      </a>
      <a href="#next" class="slideRightLink">
        <i class="ico arrowRight"></i>
        <span class="text">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="linkedWithFontFamilyDetailNavigation" id="font-family-testimonials">
  <div class="testimonialSection onFontFamilyDetail js-testimonialSlider <%= css_class %>">
    <div class="inner">
      <div class="testimonialItems">

      {% testimonial "i": 1, "author": "David Březina", "logo": "Testimonial-logo_Gentleman.svg" %}
      “Runge is the new Unger!”
      {% endtestimonial %}

      {% testimonial "i": 2, "active": true, "author": "Gerard Unger", "for": "for Pangramme exhibition catalogue", "logo": "Testimonial-logo_Gentleman.svg" %}
      “One sans serif that I think is truly original is Sherpa Sans [Gitan].”
      {% endtestimonial %}

      </div>

      <div class="testimonialPager">
        <div class="pagerIndcator active" data-testimonialid="testimonial1"></div>
        <div class="pagerIndcator" data-testimonialid="testimonial2"></div>
      </div>
    </div>
  </div>
</div>


<!-- Font Tester -->

{% font_tester %}


<!-- Highlights -->

<div class="fontStylesHighlights linkedWithFontFamilyDetailNavigation" id="font-family-highlights">
  <div class="inner">
    <div class="header">
      <h2>highlights</h2>
    </div>
    <div class="cols">
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Gitan_highlights_1.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Extensive diacritics provide support for 120+ languages
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Gitan_highlights_2.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            The robust and sturdy uprights contrast with the more fluid italics
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Gitan_highlights_3.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            Six sets of numerals for the most demanding typographers
          </div>
        </div>
      </div>
      <div class="col">
        <div class="highlightItem">
          <div class="image">
            <img src="{% image_path Gitan_highlights_4.svg %}" alt="" class="svg">
          </div>
          <div class="text">
            All fonts contain an extensive set of small caps (incl. numerals)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- OpenType Features -->

<div class="fontStylesOpentypeFeatures">
  <div class="inner">
    <div class="header">
      <h2>opentype features</h2>
    </div>
    <div class="otfCols">
      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Gitan_features_1.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ligatures</div>
            </div>
            <div class="col">
              <div class="text">Contextual alternates</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_3.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Turkish/Azeri/Crimean Tatar</div>
            </div>
            <div class="col">
              <div class="text">Romanian/Moldovan</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_5.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Old-style figures</div>
            </div>
            <div class="col">
              <div class="text">Tabular lining figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_7.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Fractions</div>
            </div>
            <div class="col">
              <div class="text">Superiors &amp inferiors</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_9.svg %}" alt="" class="svg">
          <div class="text">Small caps</div>
        </div>
      </div>

      <div class="halfCol">
        <div class="otfItem">
          <img src="{% image_path Gitan_features_2.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Stylistic alternate g</div>
            </div>
            <div class="col">
              <div class="text">Stylistic alternate hyphen</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_4.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Catalan</div>
            </div>
            <div class="col">
              <div class="text">Dutch</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_6.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Tabular ranging figures</div>
            </div>
            <div class="col">
              <div class="text">Small-cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_8.svg %}" alt="" class="svg">
          <div class="cols">
            <div class="col">
              <div class="text">Ordinals</div>
            </div>
            <div class="col">
              <div class="text">All cap figures</div>
            </div>
          </div>
        </div>
        <div class="otfItem">
          <img src="{% image_path Gitan_features_10.svg %}" alt="" class="svg">
          <div class="text">All caps &amp case-sensitive punctuation</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Web preview -->



<!-- Buy and share -->

<div class="fontFamilyBuySection">
  <div class="inner">
    <!-- Buy button for family with lowest price available -->
    {% buy_button %}
    <div class="socialMediaSection hiddenContent" id="socialMediaButtonInBuySection">
      <div class="inner">
        <h2>Share your thoughts on Gitan!</h2>
        <div class="socialMediaLinks">
          {% share_buttons %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Credits -->

{% designers_info %}

